ndspy==3.0.0
pygobject==3.42.1
pycairo==1.18.2
py-desmume==0.0.4.post2
explorerscript==0.1.1
range-typed-integers >= 1.0.0
nest-asyncio==1.5.5
pygtkspellcheck==5.0.0
git+https://github.com/skytemple/skytemple-files@master#egg=skytemple_files
pmdsky-debug-py
git+https://github.com/skytemple/skytemple-icons@main#egg=skytemple_icons
types-setuptools
