ndspy==4.1.0
pygobject==3.48.2
pycairo==1.18.2
skytemple-ssb-emulator==1.8.0
explorerscript==0.2.1.post2
range-typed-integers >= 1.0.0
nest-asyncio==1.6.0
pygtkspellcheck==5.0.3
git+https://github.com/skytemple/skytemple-files@master#egg=skytemple_files
pmdsky-debug-py
git+https://github.com/skytemple/skytemple-icons@main#egg=skytemple_icons
types-setuptools
pygobject-stubs --config-settings=config=Gtk3,Gdk3,GtkSource4
